:root {
    --imgMaxWidth: 100%;
}

* {
    line-height: 0px;
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.page_width {
    width: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.svg_container {
    background-image: url('./new_assets_2024/bg.png');
    display: flex;
    align-items: center;
}

.left {
    padding-left: 50px;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials img {
    width: 50px;
    height: 50px;
}

.mobile {
    display: none;
}


/* responsive */

@media (max-width:814px) {
    .socials img {
        width: 30px;
        height: 30px;
    }
    .mobile {
        display: block;
    }
}

@media (max-width:635px) {
    .desktop {
        display: none;
    }
    .svg_container_m {
        background-image: url('./new_assets_2024/bg_mobile.png');
        padding-top: 20px;
        background-repeat: no-repeat;
    }
    .svg_container_m .text {
        /* padding-right: 20px; */
        width: 90%;
    }
    .socials img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:546px) {
    .left {
        padding-left: 10px;
    }
}

@media (max-width:400px) {
    .socials img {
        width: 30px;
        height: 30px;
    }
}