:root {
    --imgMaxWidth: 100%;
}

@font-face {
    font-family: "TradeGothic LT Bold";
    src: url('./Trade\ Gothic\ LT\ Bold\ No.\ 2.ttf');
}


/* * {
    line-height: 0px;
} */

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.page_width {
    width: 100%!important;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.svg_container {
    background-image: url('./new_assets_2024/bg.png');
    display: grid;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    justify-content: stretch;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 20px;
}

.left {
    padding-left: 50px;
}

.socials {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.socials img {
    width: 50px;
    height: 50px;
}

.mobile {
    display: none;
}

.right {
    display: flex;
    align-items: baseline;
    /* background-color: #F2BE06; */
    justify-content: flex-end;
    flex-direction: column;
}


/* responsive */

@media (max-width:814px) {
    .socials img {
        width: 30px;
        height: 30px;
    }
    /* .mobile {
        display: block;
    } */
}

@media (max-width:862px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .svg_container_m {
        background-image: url('./new_assets_2024/bg_mobile.png');
        padding-top: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .svg_container_m .text {
        /* padding-right: 20px; */
        width: 90%;
    }
    .socials img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width:546px) {
    .left {
        padding-left: 10px;
    }
}

@media (max-width:400px) {
    .socials img {
        width: 60px;
        height: 60px;
    }
}


/* new styles */

.container_updated {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -2px;
    max-width: 100%;
    width: 100%;
}

.meet {
    background-image: url('./new_assets_2024/meet_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    width: 100%;
}

.meet .column {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.big_title {
    font-family: "TradeGothic LT Bold", 'sans-serif';
    font-size: 124px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.c_yellow {
    color: #F2BE06;
}

.watch {
    background-image: url('./new_assets_2024/wtach_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-position: top;
}

.watch .column,
.moonga .column,
.mr_cold .column,
.baseline .column,
.dlala .column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.baseline .column {
    padding-left: 10px;
}

.play {
    width: 130px;
}

.title_sm {
    color: #FFF;
    font-family: "TradeGothic LT Bold", 'sans-serif';
    font-size: 68px;
    font-style: italic;
    font-weight: 700;
    /* line-height: 67px; */
    /* 98.529% */
    text-transform: uppercase;
}

.moonga {
    background-image: url('./new_assets_2024/bgs/monga_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-position: right center;
}

.mr_cold {
    background-image: url('./new_assets_2024/bgs/mr_cold.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-position: left center;
}

.baseline {
    background-image: url('./new_assets_2024/bgs/bassline_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-position: right center;
}

.dlala {
    background-image: url('./new_assets_2024/bgs/dlala_g_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-position: left center;
}


/* mobile */

@media (max-width:862px) {
    .meet .big_title {
        font-size: 50px;
        line-height: 100%;
        letter-spacing: normal;
        text-align: center;
    }
    .meet {
        background-image: url('./new_assets_2024/meet_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg_black {
        background: #0F0E0E;
    }
    .title_sm {
        font-size: 30px;
        text-align: center;
    }
    .right img {
        width: 100%!important;
    }
}

.small_txt {
    color: #FFF;
    font-family: "TradeGothic LT Bold", 'sans-serif';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.48px;
}

.c_yellow_n {
    color: #F2BE06;
}


/* resposnive titles and fonts */

@media (max-width:1433px) {
    .title_sm {
        font-size: 35px;
    }
    .small_txt {
        font-size: 20px;
    }
}

@media (max-width:1299px) {
    .title_sm {
        font-size: 35px;
    }
    .small_txt {
        font-size: 20px;
    }
    .svg_container {
        grid-template-columns: 100%;
    }
    .right {
        align-items: end;
    }
    .left {
        width: 90%;
    }
    .right img {
        width: 70%;
    }
}


/* new code css */

.title_sm:first-child {
    text-align: left;
}

.title_sm {
    Line-height: 67px;
}

@media (max-width: 1299px) {
    .title_sm {
        font-size: 35px;
        line-height: 34px;
    }
    .big_title {
        Line-height: 123px;
    }
}

.larger_text {
    Font-size: 88px;
    Line-height: 87px;
}

@media (max-width: 1299px) {
    .larger_text {
        Font-size: 55px;
        Line-height: 54px;
    }
}