:root {
    --imgMaxWidth: 100%;
}

* {
    line-height: 0px;
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.page_width {
    width: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.svg_container {
    background-image: url('./new_assets_2024/bg.png');
    display: flex;
    align-items: center;
}

.left {
    padding-left: 50px;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials img {
    width: 50px;
    height: 50px;
}

.mobile {
    display: none;
}


/* responsive */

@media (max-width:814px) {
    .socials img {
        width: 30px;
        height: 30px;
    }
    /* .mobile {
        display: block;
    } */
}

@media (max-width:862px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .svg_container_m {
        background-image: url('./new_assets_2024/bg_mobile.png');
        padding-top: 20px;
        background-repeat: no-repeat;
    }
    .svg_container_m .text {
        /* padding-right: 20px; */
        width: 90%;
    }
    .socials img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:546px) {
    .left {
        padding-left: 10px;
    }
}

@media (max-width:400px) {
    .socials img {
        width: 30px;
        height: 30px;
    }
}


/* new styles */

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -2px;
}

.meet {
    background-image: url('./new_assets_2024/meet_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet .column {
    padding-left: 20px;
    padding-right: 20px;
}

.big_title {
    font-family: "TradeGothic LT Bold";
    font-size: 100px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -5.36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.c_yellow {
    color: #F2BE06;
}

.watch {
    background-image: url('./new_assets_2024/wtach_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.watch .column,
.moonga .column,
.mr_cold .column,
.baseline .column,
.dlala .column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.baseline .column {
    padding-left: 10px;
}

.play {
    width: 130px;
}

.title_sm {
    color: #FFF;
    font-family: "TradeGothic LT Bold";
    font-size: 65px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2.37px;
    text-transform: uppercase;
}

.moonga {
    background-image: url('./new_assets_2024/bgs/monga_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.mr_cold {
    background-image: url('./new_assets_2024/bgs/mr_cold.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.baseline {
    background-image: url('./new_assets_2024/bgs/bassline_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.dlala {
    background-image: url('./new_assets_2024/bgs/dlala_g_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}


/* mobile */